*.class

*.jar
*/target
*/logs

343654565f
ftyfyfxfdtrd'
ftyfyfxfdtrd'
--test1
ftyfyfxfdtrd'
ftyfyfxfdtrd'
--test2
ftyfyfxfdtrd'fawefgewgeg
fefagweg4wsefewrf343654565f
--test2
ftyfyfxfdtrd'fawefgewgeg
fefagweg4wsefewrf343654565f